* {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

body {
    margin: 0.625rem 0 1.5625rem 0;
    padding: 0.625rem;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    color: #e1e1e1;
}

.toggle-block {
    height: auto;
    width: 100%;
    border-radius: 0.875rem;
    padding: 1.25rem;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;

    box-shadow: 0 0.125rem 0.625rem -0.125rem rgba(255, 255, 255, 0.096);
}

.mainPage {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.numBlock {
    margin: 0.125rem 1.25rem 0.1875rem 0;
    font-size: 2.1875rem;
}

.textBlock {
    font-size: 1rem;
    font-weight: bold;
}

.section {
    margin-top: 0.3125rem;
}

.block {
    justify-content: left;
    align-items: center;
    backdrop-filter: blur(0.625rem);
    -webkit-backdrop-filter: blur(0.625rem);
    border: 0.0625rem solid rgba(255, 255, 255, 0.2);
    color: #e1e1e1;
}

.toggle-block {
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.block-content {
    display: flex;
    align-items: center;
    flex: 1;
}

.arrow {
    height: 1.5rem;
    margin-left: 0.625rem;
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.lessons-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    padding: 0 1.25rem;
}

.lessons-container.open {
    max-height: 62.5rem;
    padding: 0.9375rem 1.25rem;
}

.miniBlock {
    border-radius: 0.625rem;
    padding: 0.75rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 0.625rem;
    cursor: pointer;
}

.numMiniBlock {
    font-size: 1.125rem;
    margin: 0.125rem 0.3125rem 0.1875rem 0;
    font-weight: bold;
}

.textMiniBlock {
    font-size: 0.875rem;
    margin-left: 0.3125rem;
}

.textBody {
    padding: 0;
}

.upTitle {
    top: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 2rem;
    display: flex;
    padding: 0.75rem 1.25rem 0.75rem 0.75rem;
    align-items: center;
    backdrop-filter: blur(0.625rem);
    -webkit-backdrop-filter: blur(0.625rem);
    border-bottom: none;
    overflow: visible !important;
}




.btnBack {
    left: 0.5rem;
    position: relative;
    width: 1.0625rem;
    height: 1.0625rem;
    background-image: url('projectPage/img/btnBack.png');
    background-size: 1.0625rem;
    background-color: rgba(255, 255, 255, 0);

    border: none;
}

.btnBack:hover {
    opacity: 1;
    transform: scale(1.1);
}

.upText {
    margin-left: 1.25rem;
    font-size: 1.0625rem;
    font-weight: bold;
    white-space: nowrap;
    max-width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mainText {
    padding: 1.25rem;
    line-height: 1.7;
    margin-top: 1.5rem;
    padding-bottom: 4rem;
}


.downPanel {
    bottom: 1.25rem;
    left: 20%;
    position: fixed;
    z-index: 1000;
    height: 3rem;
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    align-items: center;
    backdrop-filter: blur(0.625rem);
    -webkit-backdrop-filter: blur(0.625rem);
    border: 0.0625rem solid rgba(255, 255, 255, 0.2);
    border-radius: 100rem;
}

.btnHome, .btnDictionary, .btnSettings {
    width: 2rem;
    height: 2rem;
    background-size: 2rem;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.btnHome:hover, .btnDictionary:hover, .btnSettings:hover {
    opacity: 1;
    transform: scale(1.1);
}
.btnHome {
    background-image: url('projectPage/img/btnHome.svg');
}
.btnDictionary {
    background-image: url('projectPage/img/btnDictionary.svg');
    background-size: 110%;
}
.btnSettings {
    align-items: center;
    background-image: url('projectPage/img/btnSettings.svg');
}
