.block {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

body {
    margin: 0;
    padding: 10px;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
}

.toggle-block {
    height: auto;
    width: 100%;
    background-color: #69818D;
    border-radius: 14px;
    padding: 20px;
    color: #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
}

.mainPage {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.numBlock {
    margin: 2px 20px 3px 0;
    font-size: 35px;
}

.textBlock {
    margin-top: auto;
    font-size: 16px;
}

.section {
    margin-bottom: 20px;
}






.toggle-block {
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.block-content {
    display: flex;
    align-items: center;
    flex: 1;
}

.arrow {
    height: 24px;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.lessons-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    padding: 0 20px;
}

.lessons-container.open {
    max-height: 1000px; /* или больше */
    padding: 15px 20px;
}

.miniBlock {
    background-color: #4a5b66;
    border-radius: 10px;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.numMiniBlock {
    font-size: 18px;
    margin-right: 15px;
    min-width: 50px;
    font-weight: bold;
}

.textMiniBlock {
    font-size: 14px;
}