body {
    margin: 0;
    padding: 10px;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
}

:focus {
  outline: none;
}

.mainPage {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block {
    height: auto;
    width: 100%;
    background-color: #69818D;
    border-radius: 14px;
    padding: 20px;
    color: #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
}

.numBlock {
    margin: 2px 20px 3px 0;
    font-size: 35px;
}

.textBlock {
    margin-top: auto;
    font-size: 16px;
}