* {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

body {
    margin: 10px 0 25px 0;
    padding: 10px;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    color: #e1e1e1;
}

.toggle-block {
    height: auto;
    width: 100%;
    border-radius: 14px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;

    -webkit-box-shadow: 0px 2px 10px -2px rgba(255, 255, 255, 0.096);
    -moz-box-shadow: 0px 2px 10px -2px rgba(255, 255, 255, 0.096);
    box-shadow: 0px 2px 10px -2px rgba(255, 255, 255, 0.096);
}

.mainPage {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.numBlock {
    margin: 2px 20px 3px 0;
    font-size: 35px;
}

.textBlock {
    font-size: 16px;
    font-weight: bold;
}

.section {
    margin-top: 5px;
}

.block {
      justify-content: left;
      align-items: center;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      color: #e1e1e1;
}

.toggle-block {
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.block-content {
    display: flex;
    align-items: center;
    flex: 1;
}

.arrow {
    height: 24px;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.lessons-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    padding: 0 20px;
}

.lessons-container.open {
    max-height: 1000px; /* или больше */
    padding: 15px 20px;
}

.miniBlock {
    border-radius: 10px;
    padding: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.numMiniBlock {
    font-size: 18px;
    margin: 2px 5px 3px 0;
    font-weight: bold;
}

.textMiniBlock {
    font-size: 14px;
    margin-left: 5px;
}






.textBody {
    padding: 0;
}

.upTitle {
    top: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    padding: 4px;
    
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    border-bottom: none;

    overflow: visible !important;
}

.btnBack {
    margin-left: 20px;
    background-image: url('projectPage/img/btnBack.png');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;

    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.btnBack:hover {
    opacity: 1;
    transform: scale(1.1);
}

.upText {
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;

    white-space: nowrap;
    max-width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;

}

.mainText {
    padding: 20px;
    line-height: 1.7;
    margin-top: 40px;
}