



.lessons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding-left: 20px;
}





.block {
      justify-content: left;
      align-items: center;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
}






.miniBlock {
    background-color: #4a5b66;
    border-radius: 10px;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.numMiniBlock {
    font-size: 20px;
    margin-right: 15px;
    min-width: 50px;
}

.textMiniBlock {
    font-size: 14px;
}