



.lessons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding-left: 20px;
}







.miniBlock {
    background-color: #4a5b66;
    border-radius: 10px;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.numMiniBlock {
    font-size: 20px;
    margin-right: 15px;
    min-width: 50px;
}

.textMiniBlock {
    font-size: 14px;
}